body {
    font-family: 'Asap', sans-serif;
    color: white;
    text-align: center;
}
.body-container {
    padding: 0;
}
#video-row {
    background-image: url('https://lp.beambyeyeclick.com/hubfs/Landing2018/LP-main-banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: cover;
    padding: 1em;
}
.header-row {
    padding: 0 4em;
}
.modal-header {
    border: none;
}
.modal-body {
    padding: 0;
}
.modal-content.video-content {
    background: transparent;
    border: none;
    position: absolute;
    left: -45%;
    -webkit-transition: 0.5s;
    transition: all 0.5s linear;
    margin: 0 auto;
    display: block;
}
iframe {
    width: 100%;
    height: 500px;
}
.logo {
    width: 100%;
    max-width: 3em;
    min-width: 90px;
    text-align: left;
}
.col-logo {
    margin-left: 5em;
}
.header-text {
    margin: 0 auto;
    padding-bottom: 0.5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.sub-header {
    margin: auto;
    margin-bottom: 1em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.btn-main {
    background-color: #FF8022;
    color: #fff;
    border: none;
    border-radius: 21px;
    margin: 0 auto;
    font-size: 1.4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    white-space: normal;
}
.link-to-contact, .link-to-first-contact  {
    display: none;
}
.btn-contact-desktop {
    display: block;
}
.link-desktop {
    display: block;
}
.btn-main:hover {
    background-color: #ed6500;
}
.btn-main:focus {
    background-color: #ed6500;
    outline: 0 !important;
}
.play {
    margin: auto;
    margin-bottom: 5em;
    margin-top: 1.2em;
}
.details {
    margin: 5em auto;
}
#brands-row {
    margin: 1.5em 5em;
}
.brand {
    width: 100%;
    max-width: 6em;
    min-width: 70px;
    margin: 1em 2em;
}
.bigger {
    max-width: 5em;
}
/* Swiper */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.brands-swiper-container, .businesses-swiper-container {
    width: 100%;
    height: 50%;
    display: none;
}
/* End Swiper */
#row-inline-contact {
    background: #F63AAA;
    color: #fff;
}
.first-hidden-text {
    margin-bottom: 0;
    color: #F63AAA;
}
#about-row {
    background-image: url('https://lp.beambyeyeclick.com/hubfs/Landing2018/LP-whatsbeam.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: cover;
    padding: 2em;
}
.whats-beam {
    margin: auto;
    margin-bottom: 1em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.whats-beam-text {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.call-inline, .call-inline:hover, .call-inline:visited {
    text-decoration: none;
    color: #fff;
}
.whats-btn{
    margin-top: 3.5em;
    margin-bottom: 1.5em;
}
.additional-text {
    display: block;
}
.businesses {
    margin-top: 2.5em;
}
.businesses-header {
    color: #000;
    margin-bottom: 1.5em;
}
.businesses-row {
    margin: 0 auto;
    width: 80%;
    margin-left: 20%;
}
.business-icon-frame {
    color: black;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 150px;
    height: 150px;
    padding: 1em;
    -webkit-box-shadow: 5px 10px 10px #888888;
    -moz-box-shadow: 5px 10px 10px #888888;
    box-shadow: 5px 10px 10px #888888;
    margin-bottom: 1em;
}
.col-img {
    padding: 0;
    float: none;
    margin: auto 0;
}
.business-icon-frame img {
    margin: 0;
    width: 5em;
}
.business-desc {
    margin: 1em 0;
}
#row-pricing {
    margin-top: 3em;
    margin-bottom: 1.5em;
    padding: 2.5em;
    background: #79CB1E;
}
.pricing-text {
    margin: 1.2em 0;
}
.price {
    font-size: 1.3em;
}
#row-why {
    background: #F63AAA;
    padding: 2em;
}
.col-why-icon {
    text-align: center;
}
.icons-row {
    margin: 4em 12em;
}
.icon-desc {
    display: block;
}
#row-testimonials, #row-testimonials-mobile {
    color: black;
    margin-top: 2em;
}
.testi-wrapper {
    padding: 1em;
}
.testimonial {
    background: #E7E7E8;
    padding: 1em;
    border-radius: 10px;
    height: 188px;
    -webkit-box-shadow: 5px 10px 10px #E0E0E0;
    -moz-box-shadow: 5px 10px 10px #E0E0E0;
    box-shadow: 5px 10px 10px #E0E0E0;
}
.testimonial.testi-edu.swiper-slide-active {
    border: 2.2px solid #79CB1E;
}
.testimonial.testi-play.swiper-slide-active  {
    border: 2.2px solid #FF8022;
}
.testimonial.testi-pedi.swiper-slide-active {
    border: 2.2px solid #3087E4;
}
.testimonial.testi-rest.swiper-slide-active  {
    border: 2.2px solid #FE3F56;
}
.testimonial.testi-retail.swiper-slide-active {
    border: 2.2px solid #F63AAA;
}
.testi-hr {
    margin: 1em 5.2em;
    height: 2px;
}
.testi-hr-edu {
    background: #79CB1E;
}
.testi-hr-play {
    background: #FF8022;
}
.testi-hr-pedi {
    background: #3087E4;
}
.testi-hr-rest {
    background: #FE3F56;
}
.testi-hr-retail {
    background: #F63AAA;
}
.testi-person {
    font-size: 0.6em;
}
.carousel-control {
    color: black;
    font-size: 2em;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.control {
    margin: 0 0.5em;
    padding: 0;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}
.row-quotes {
    width: 99.99999%;
    text-align: center;
}
.col-quotes {
    padding-left: 1em;
    padding-right: 0.1em;
}
.quote {
    padding: 0 4em;
}
.sub-container {
    position: relative;
    left: 5%;
    margin-top: 2.5em;
}
h6.quote-sub {
    font-size: 0.75em;
    margin-bottom: 0.2em;
}
.quote-col {
    padding: 0 2em;
}
.inline-icon {
    width: 40px;
    height: auto;
    margin-right: 0.7em;
    margin-bottom: 0.5em;
}
.rwd-break {
    display: none;
}
#row-faq {
    background: #3087E4;
    margin-top: 2em;
    padding: 0.8em;
    padding-top: 2em;
    color: #fff;
}
.col-faq {
    padding: 0;
}

.faq-row {
    margin: 1.3em 0;
}
.btn-faq {
    margin-top: 1.1em;
    margin-bottom: 0.5em;
}
.dummy {
    color: #fff;
    font-size: 0.2em;
}
.space {
    margin-top: 1em;
}
a.accordion {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    font-size: 1.15em;
    color: #111 !important;
    cursor: pointer;
    align-items: flex-start;
    transition: background-color 0.4s linear;
}
span.down-arrow:after {
    content: '\f107';
    font-family: "fontawesome";
    font-size: 1.75em;
    float: right;
    margin-left: 0.5em;
}
span.down-arrow.is-open:after {
    content: '\f106';
}
a.accordion:hover,
a.accordion.is-open {
    font-weight: bold;
}
.accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
.frame {
    padding: 1em;
    margin: 1em;
    text-align: left;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.4);
    -moz-box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.4);
    box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.4);
}
.faq-content {
    color: #111;
}
#row-eyeclick {
    margin-top: 2.5em;
    margin-bottom: 2em;
    color: #111;
}
.sub-eyeclick {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.img-map {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}
.image_full {
    display: block;
}
.image_mobile {
    display: none;
}
#row-contact {
    background: #F63AAA;
    color: #fff;
}
.hidden-text {
    color: #F63AAA;
}
.header-contact {
    padding: 0.7em;
}
.copyright {
    color: #ACACAC;
}
/* Hubspot Form */
.hs-form {
    margin-left: 1em;
    margin-right: 1em;
    background: #fff;
    padding: 2em;
    padding-right: 4em;
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    -webkit-box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.4);
    -moz-box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.4);
    box-shadow: 5px 5px 5px rgba(145, 143, 143, 0.4);
}
.hs-form label {
    color: #000;
    font-weight: bold;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 0;
}
.hs-form input {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-left: 2em;
}
.hs-form input:focus {
    border-bottom: 2px solid #ddd;
}
.hs-form select {
    border: none;
    margin-bottom: 0;
    margin-left: 2em;
    border-bottom: 1px solid #ddd;
    outline: none;
}
.hs-form select:focus {
    border-bottom: 2px solid #ddd;
}
.hs-form .hs-error-msgs label {
    color: red;
    font-weight: normal;
    font-size: 0.8em;
    margin: 0;
}
.btn-form {
    margin-top: 1.5em;
}
/* Modal */
#modal-contact-form {
    position: absolute;
    left: -30%;
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.5s linear;
}
.modal-title {
    padding-bottom: 0.7em;
}
.modal-content {
    background: #F63AAA;
    width: 200%;
    padding-bottom: 2em;
}
.close {
    color: #fff;
    margin-top: 0.1em;
    margin-right: 0.4em;
    font-size: 2em; 
    outline: none;
}
#call-row {
    margin: 1em 0;
}
.call-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    color: #31aff5;
}
.call-link:visited, .call-link:hover {
    text-decoration: none;
}
.call-text {
    font-size: 0.8em;
    margin: 0 0.15em;
}
.phone:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
/* Custom, iPhone Retina */
@media screen and (min-width: 320px) {
    #video-row {
        background-image: url('https://lp.beambyeyeclick.com/hubfs/Landing2018/mobile/Top_pic.png');
    }
    .col-logo {
        margin-left: 1em;
    }
    .logo {
        min-width: 70px;
    }
    .blue-logo {
        display: none;
    }
    .white-logo {
        display: block;
    }
    .header-row {
        padding: 0 1em;
    }
     .header-text {
        font-size: 2em;
    }
    .header-mobile-br {
        display: block;
    }
    .sub-header-row {
        padding: 0 1em;
    }
    .sub-header {
        font-size: 1.7em;
    }
    .play {
        margin-bottom: 1em;
        margin-top: 0;
    } 
    .play > img {
        width: 65px;
    }
    .play-mobile {
        margin-top: 0 !important;
    }
    .modal-content.video-content {
        left: 5%;
    }
    iframe {
        height: 220px;
    }
    .link-to-contact, .link-to-first-contact  {
        display: inline-block;
    }
    .btn-contact-desktop {
        display: none;
    }
    .link-desktop {
        display: none;
    }
    #about-row {
        background-image: url('https://lp.beambyeyeclick.com/hubfs/Landing2018/mobile/LP-whatsbeam-mobile.jpg');
        padding: 1.5em;
        padding-top: 11em;
        padding-bottom: 3em;
    }
    .whats-beam {
        margin-top: 0;
        margin-bottom: 1.3em;
    }
    .whats-btn{
        margin-top: 1.5em;
        margin-bottom: 0em;
    }
    .long-text-btn {
        font-size: 1.2em;
    }
    .icons-row {
        margin: 1em;
    }
    .icon-desc {
        display: none;
    }
    .bigger {
        max-width: 6.8em;
        margin-top: 0.8em;
        margin-left: 0;
        margin-right: 0;
    }
    /* Swiper */
    .brands-swiper-container, .businesses-swiper-container {
        display: block;
        margin-top: 0.5em;
    }
    #brands-row {
        display: none;
    }
    /* End Swiper */
    .additional-text {
        display: none;
    }
    .business-icon-frame {
        padding-top: 2em;
        width: 200px;
        height: 200px;
    }
    .col-why-icon {
        margin-bottom: 1.2em;
    }
    .businesses-row {
        position: absolute;
        left: -999em;
    }
    .business-icon-frame img {
        width: 6em;
    }
    #row-pricing {
        padding: 2.5em 0.5em;
    }
    .pricing-text {
        font-size: 1.05em;
    }
    .faq-row {
        margin: 0;
    }
    #row-testimonials {
        display: none;
    }
    #row-testimonials-mobile {
        display: block;
    } 
    .quote {
        padding: 0 0;
        font-size: 1.1em;
    }
    .sub-container {
        left: 10%;
    }
    h6.quote-sub {
        font-size: 0.75em;
        margin-bottom: 0.5em;
    }
    .dsk-br {
        display: none;
    }
    .mobile-br {
        display: block;
    }
    .rwd-break {
        display: block;
    }
    .control {
        display: inline-block;
        vertical-align: center;
        font-size: 0.5em;
        padding-top: 8%;
    }
    .image_full {
        display: none;
    }
    .image_mobile {
        display: block;
        margin-top: 2em;
    }
    .hs-form {
        padding: 1em;
    }
    .hs-form.modal-body {
        padding: 1em;
        padding-right: 1.5em;
        padding-left: 0.5em;
        margin: 0;
    }
    #modal-contact-form {
        left: 5%;
    }
    .modal-title {
        font-size: 1.2em;
    }
    .modal-content {
        width: 90%;
    }
    .modal-btn {
        font-size: 1.2em;
        padding: 0.4em;
        margin-top: 1.5em;
    }
    .btn-form {
        font-size: 1em;
    }
}
@media screen and (min-width: 375px) {
    .play {
        margin-bottom: 2em;
        margin-top: 0;
    }
    .header-text {
        font-size: 2.3em;
    }
    .quote {
        padding: 0 1.3em;
    }
    .control {
        font-size: 0.8em;
        padding-top: 5.5%;
    }
    .sub-container {
        left: 12%;
    }
    h6.quote-sub {
        font-size: 0.8em;
    }
    .pricing-text {
        font-size: 1.25em;
    }
}
@media screen and (min-width: 400px) {
    .sub-container {
        left: 13%;
    }
    .pricing-text {
        font-size: 1.35em;
    }
}
/* Extra Small Devices, Phones */
@media screen and (min-width: 480px) {
    #video-row {
        background-image: url('https://lp.beambyeyeclick.com/hubfs/Landing2018/mobile/LP-main-mobile.jpg');
    }
    .col-logo {
        margin-left: 5em;
    }
    .logo {
        min-width: 90px;
    }
    .blue-logo {
        display: block;
    }
    .white-logo {
        display: none;
    }
    .play > img {
        width: auto;
    }
    .header-text {
        font-size: 3em;
    }
    .header-mobile-br {
        display: none;
    }
    .sub-header {
        font-size: 2em;
    } 
    .link-to-contact, .link-to-first-contact {
        display: none;
    }
    .btn-contact-desktop {
        display: inline-block;
    }
    .link-desktop {
        display: inline-block;
    }
    #row-pricing {
        padding: 2.5em;
    }
    .pricing-text {
        font-size: 1.4em;
    }
    #about-row {
        padding: 3em;
    }
    #row-testimonials {
        display: block;
    } 
    #row-testimonials-mobile {
        display: none;
    }
    .quote {
        font-size: 1.3em;
    }
    .sub-container {
        left: 15%;
    }
    h6.quote-sub {
        font-size: 1em;
        margin-bottom: 0.2em;
    }
    .control {
        font-size: 1em;
        padding-top: 5.5%;
    }
    .col-why-icon {
        margin-bottom: 0;
    }
    .image_mobile {
        display: none;
    }
    .image_full {
        display: block;
    }
    .hs-form {
        padding: 2em;
    }
    .hs-form.modal-body {
        padding: 2em;
        padding-right: 4em;
        margin: 0 1em;
    }
    #modal-contact-form {
        left: -30%;
    }
    .modal-title {
        font-size: 2em;
    }
    .modal-content {
        width: 200%;
    }
    .modal-btn {
        font-size: 1.4em;
        padding: 0 1.5em;
    }
    .btn-form {
        font-size: 1.4em;
    }
}
@media screen and (min-width: 500px) {
    .rwd-break {
        display: none;
    }
    .sub-container {
        margin-top: 3em;
        left: 16%;
    }
    .control {
        padding-top: 4.5%;
    }
}
@media screen and (min-width: 550px) {
    .quote {
        padding: 0 1.3em;
        font-size: 1.5em;
    }
    .sub-container {
        left: 18%;
    }
}
@media screen and (min-width: 650px) {
    .sub-container {
        left: 30%;
    }
}
/* Small Devices, Tablets */
@media screen and (min-width: 768px) {
    #video-row {
        background-image: url('https://lp.beambyeyeclick.com/hubfs/Landing2018/LP-main-banner.jpg');
    }
    .modal-content.video-content {
        left: -45%;
    }
    iframe {
        height: 500px;
    }
    #brands-row {
        margin: 1.5em 0;
    }
    .brand {
        margin: 1em 2em;
        max-width: 2em;
    }
    .bigger {
        max-width: 5em;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #about-row {
        padding: 2em;
        background-image: url('https://lp.beambyeyeclick.com/hubfs/Landing2018/LP-whatsbeam.jpg');
    }
    .whats-beam {
        margin-top: 3em;
        margin-bottom: 1.5em;
    }
    .whats-btn{
        margin-top: 3.5em;
        margin-bottom: 1.5em;
    }
    .long-text-btn {
        font-size: 1.5em;
    }
    /* Swiper */
    .brands-swiper-container, .businesses-swiper-container{
        display: none;
    }
    #brands-row {
        display: block;
    }
    /* End Swiper */
    .additional-text {
        display: block;
    }
    .businesses-row {
        position: relative;
        left: 0;
    }
    .business-icon-frame {
        width: 150px;
        height: 150px;
    }
    .business-icon-frame {
        padding-top: 1em;
    }
    .business-icon-frame img {
        width: 5em;
    }
    .sub-container {
        left: 33%;
    }
    .control {
        font-size: 1.3em;
        padding-top: 3%;
    }
    .faq-row {
        margin: 1.3em 0;
    }
}
@media screen and (min-width: 825px) {
    #brands-row {
        margin: 1.5em 2.5em;
    }
    .brand {
        margin: 1em 1.1em;
        max-width: 3.5em;
    }
    .bigger {
        max-width: 5.5em;
    }
    .control {
        padding-top: 2.5%;
    }
    .sub-container {
        left: 35%;
    }
}
@media screen and (min-width: 900px) {
    .quote {
        font-size: 1.75em;
    }
    .sub-container {
        left: 37%;
    }
    .control {
        padding-top: 0;
    }
    .dsk-br {
        display: block;
    }
    .mobile-br {
        display: none;
    }
}
/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
    .brand {
        margin: 1em 1.5em;
        max-width: 5em;
    }
    .bigger {
        max-width: 6.5em;
    }
    .quote {
        font-size: 2em;
    }
    .sub-container {
        left: 39%;
    }
}
@media screen and (min-width: 1024px) {
    .icon-desc {
        display: block;
    }
}
@media screen and (min-width: 1058px) {
    .brand {
        margin: 1em 1.5em;
        max-width: 4em;
    }
    .bigger {
        max-width: 6em;
    }
    .sub-container {
        left: 41%;
    }
}
/* Large Devices, Wide Screens */
@media screen and (min-width: 1200px) {
    #video-row {
        padding: 3em;
    }
    .brand {
        margin: 1em 2em;
        max-width: 5em;
    }
    .bigger {
        max-width: 7em;
    }
    .quote {
        padding: 0 4em;
    }
    .sub-container {
        left: 43%;
    }
    .header-text {
        font-size: 3.4em;
    }
    .icons-row {
        margin: 4em 6em;
    }
}
@media screen and (min-width: 1478px) {
    #brands-row {
        margin: 1.5em 5em;
    }
    .brand {
        margin: 1em 2.5em;
        max-width: 6em;
    }
    .bigger {
        max-width: 8em;
    }
    .sub-container {
        left: 45%;
    }
    .icons-row {
        margin: 4em 12em;
    }
}